<main class="container">
    <h3>Esta é a segunda página do projeto</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis esse voluptatum error sequi placeat laudantium dolor nihil ullam quo distinctio tenetur totam hic et sunt necessitatibus, aliquam optio culpa ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit, beatae assumenda nihil dolore porro illum dolores minima suscipit, officiis perspiciatis laudantium. Neque, laboriosam asperiores? Sint eum nam impedit voluptates.</p>
    <a routerLink="" class="link">Home</a>
</main>
