* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #21212a;
    color: #e7e7e7;
    background-image: url('https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABZXDN_o6VQuS6SxaFQIgNQorNAhF0EzM2oIfeyazF4Rbw_lV9FAj8HKlDBhhpgeAKrvKcWYD3Q_IZuRG0zKunjESp3qGctpZZ0Vz.jpg?r=e4f');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 7rem 1rem 2rem;
    padding: 1rem;
    border-radius: .3rem;
    /* background-color: rgba(255, 255, 255, .2); */
    /* backdrop-filter: blur(2px); */
}

.link {
    color: gold;
    width: max-content;
    display: block;
    margin: 1rem auto;
}

.link:after {
    content: '';
    display: block;
    margin-top: .2rem;
    width: 100%;
    height: 2px;
    background-color: gold;
    border-radius: 0 0 2rem 2rem;
    transform: scaleX(0);
    transition:  transform .3s ease-in-out;
}

.link:hover:after {
    transform: scaleX(1);
}